@page-width: 416px;
@center-line-width: 6px;
@book-width: calc(2 * @page-width + @center-line-width);

.book-bg {
  min-height: 100vh;
  overflow: hidden;
  // // background: #f3f2ed;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
}

.book-outer {
  position: relative;
  width: @book-width;
  height: 570px;
  perspective: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-5deg) translateX(-45%);
  // transform: rotate(0deg) translateX(-45%);

}

.book-page {
  position: absolute;
  top: 0;
  width: @page-width;
  height: 110%;
  background: url('../../imgs/pic-book@3x.png') right center / 200% 100% no-repeat;
  // background: transparent;
  // border-radius: 14px;
  z-index: 2;
  backface-visibility: hidden;
  .book-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    // flex-direction: column;
    // align-items: center;
    // padding: 32px 0px 0 0px;
    // border-radius: 14px;
    
    // box-shadow: 0 2px 16px 0 rgba(0,0,0,0.08);
    // background: #fff;
  }
  .book-face-back {
    transform: rotateY(180deg);
    background: green;
    // background: #f3f2ed;
    color: #bbb;
    // box-shadow: 0 2px 16px 0 rgba(0,0,0,0.04) inset;
  }
}

.book-page-left {
  // border: 1px solid red;
  left: 17px;
 
  background: url('../../imgs/pic-book@3x.png') left center / 200% 100% no-repeat;
  transform-origin: 100% 50%;
  // box-shadow: 
  // 0px 4px 20px 0px rgba(0, 0, 0, 0.25),  /* 下方阴影 */
  // 0px -4px 20px 0px rgba(0, 0, 0, 0.25); /* 上方阴影 */
}
.book-page-right {
  left: calc(@page-width + @center-line-width);
  transform-origin: 0% 50%;
  background: url('../../imgs/pic-book@3x.png') right center / 200% 100% no-repeat;

  border-radius: 0 20px 20px 0;
}

.book-page-static {
  position: absolute;
  top: 0;
  width: @page-width;
  height: 110%;
  background: url('../../imgs/pic-book@3x.png') right center / 200% 100% no-repeat;
  border-radius: 0 20px 20px 0;
  // box-shadow: 8px 8px 20px 0px rgba(0, 0, 0, 0.25);
  // box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);

  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  // padding: 32px 18px 0 18px;
  // box-shadow: 0 2px 16px 0 rgba(0,0,0,0.08);
}
.book-page-right-static {
  left: calc(@page-width + @center-line-width);
}
.book-page-left-static {
  left: 0;
}

.book-center-line {
  // position: absolute;
  // left: @page-width;
  // top: 10px;
  // bottom: 10px;
  // width: @center-line-width;
  // background: #7be141;
  // border-radius: 2px;
  // z-index: 3;
}

.book-title {
  font-size: 30px;
  margin: 24px 0;
  text-align: center;
  color: #383838;
  // font-size: 22px;
  // font-weight: 600;
  // color: #888;
  // margin-bottom: 12px;
}
.book-content {
  // padding: 24px;
  background: #7be141;
  font-size: 16px;
  color: #333;
  text-align: center;
}

.book-flip {
  // background: green;
  // background: url('../../imgs/pic-page@3x.png');
}