.user-center {
  min-height: 100vh;
  background: url('../../imgs/bg-birthday@3x.png') no-repeat center center / cover;
  font-family: 'PingFang SC', 'Helvetica Neue', Arial, sans-serif;
  padding-bottom: 20px;

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 55px 20px 0 20px;
    height: 44px;
    position: relative;
  }

  &__nav-back {
    font-size: 20px;
    color: #222;
    flex: 0 0 20px;
  }

  &__nav-title {
    font-size: 16px;
    font-weight: bold;
    color: #222;
    flex: 1;
    text-align: center;
  }

  &__profile {
    display: flex;
    align-items: center;
    padding: 0 16px;
    margin-bottom: 16px;
    margin-top: 4px;
  }

  &__avatar {
    width: 76px;
    height: 76px;
    border-radius: 50%;
    margin-right: 10px;
    background: #fff;
    object-fit: cover;
    border: 1px solid #eae9e2;
  }

  &__profile-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__nickname {
    font-size: 16px;
    font-weight: bold;
    color: #383838;
  }

  &__vip-status {
    font-size: 14px;
    color: #bdbdbd;
    margin-top: 2px;
  }

  &__profile-edit {
    width: 24px;
    height: 24px;
  }

  &__market {
    background: url('../../imgs/pic-card@2x.png') no-repeat center center / cover;
    display: flex;
    align-items: center;
    border-radius: 18px;
    margin: 0 12px 16px 12px;
    padding: 16px 16px 16px 20px;
    position: relative;
    min-height: 160px;
  }

  &__market-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__market-title {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 4px;
  }

  &__market-desc {
    color: #7A7A7A;
    font-size: 14px;
    margin-bottom: 9px;
  }

  &__market-btn {
    background: #ffb43a;
    color: #222;
    font-size: 12px;
    font-weight: bold;
    border-radius: 12px;
    height: 28px;
    line-height: 28px;
    padding: 0 20px;
    border: none;
  }

  &__features {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin: 0 12px;
  }

  &__feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 16px;
    border: 1px solid #CCCCCC;

    image {
      width: 72px;
      height: 72px;
      margin-bottom: 10px;
    }
  }

  &__feature-title {
    font-size: 16px;
    font-weight: bold;
    color: #383838;
    margin-bottom: 7px;
  }

  &__feature-desc {
    font-size: 14px;
    color: #7A7A7A;
  }
}
