.member-plan {
  // min-height: 100vh;
  // background: url('../../imgs/bg-birthday@3x.png') no-repeat center center / cover;
  // font-family: 'PingFang SC', 'Helvetica Neue', Arial, sans-serif;
  // padding-bottom: 20px;

  &__content {
    padding: 20px 16px;
  }

  // &__header {
  //   display: flex;
  //   align-items: center;
  //   padding: 32px 0 16px 0;
  // }

  // &__avatar-box {
  //   margin-right: 12px;
  // }

  // &__avatar {
  //   width: 56px;
  //   height: 56px;
  //   border-radius: 50%;
  //   background: #fff;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   font-size: 32px;
  //   box-shadow: 0 2px 8px #ececec;
  // }

  // &__userinfo {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  // }

  // &__nickname {
  //   font-weight: bold;
  //   font-size: 16px;
  //   color: #222;
  // }

  &__expire {
    font-size: 13px;
    color: #888;
    margin-top: 4px;
  }

  &__cards {
    display: flex;
    margin: 0;
    padding: 0 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-bottom: 18px;
  }

  &__card {
    flex: 0 0 auto;
    width: 323px;
    height: 198px;
    margin: 0 6px;
    border-radius: 18px;
    position: relative;
    min-width: 0;
    transition: transform 0.3s ease-in-out, box-shadow 0.2s;
    transform-origin: center center;
    scroll-snap-align: center;

    &--selected {
      z-index: 2;
      // transform: scale(1.1);
    }

    &--year {
      background: #222;
      color: #fff;
    }

    &-title {
      font-size: 16px;
      font-weight: bold;
      color: #383838;
      margin: 40px 0 60px 60px;
    }

    &-price {
      font-size: 18px;
      color: #383838;
      font-weight: bold;
      margin: 100px 0 70px 40px;
    }

    &--half {
      background: url('../../imgs/member-half.png') no-repeat center center / cover;
    }

    &--year{
      background: url('../../imgs/member-year.png') no-repeat center center / cover;

      .member-plan__card-price {
        color: #fee2ba;
      }
    }

    &-img {
      position: absolute;
      right: 10px;
      bottom: 10px;
      font-size: 38px;
      opacity: 0.25;
    }
  }

  &__benefits-title {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin: 24px 0 12px 0;
    color: #383838;
  }

  &__benefits {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
  }

  &__benefit {
    flex: 1;
    text-align: center;
    image {
      height: 36px;
      width: 36px;
      margin-bottom: 12px;
    }
  }

  &__benefit-text {
    font-size: 14px;
    color: #383838;
    line-height: 1.4;
  }
  &__benefit-tip {
    font-size: 14px;
    color: #7A7A7A;
    line-height: 1.4;
  }

  &__guide-title {
    font-size: 16px;
    font-weight: bold;
    margin: 0 20px;
    color: #7A7A7A;
  }

  &__guide {
    font-size: 14px;
    color: #7A7A7A;
    margin: 0 20px;
    line-height: 1.7;
  }

  &__pay-btn {
    background: #383838;
    color: #fcac39;
    margin: 0 20px;
    font-size: 17px;
    border-radius: 20px;
    height: 50px;
    line-height: 50px;
    border: none;
  }
}
