page {
  font-family: 'AlibabaPuHuiTi';
  // height: 100%;
  // width: 100%;
  // border: 1px solid red;
  height: 100vh;
  background: url('./imgs/bg@2x.png') no-repeat center center / cover;
  // background: #fafaf7 url('data:image/svg+xml;utf8,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="1" height="20" fill="%23fff"/><rect y="19" width="20" height="1" fill="%23fff"/></svg>');
  // background-size: 100%;
  overflow: hidden;
  // position: fixed;
// position:absolute;
  // height: 100vh;
  // overflow-x: hidden;
  // position: fixed;p
  // width: 100%;

  // background: @pageBg;
  // --pageBg: url('./imgs/bg-night@2x.png') no-repeat center center / cover;
  // background: var(--pageBg);
}

// @pageBg: var(--pageBg);
// :root {
//   --pageBg: url('./imgs/bg@2x.png') no-repeat center center / cover;
// }
