.mood-calendar-summary-container {
  width: 100%;
  padding: 80px 24px;
  box-sizing: border-box;

  .month-title {
    font-size: 30px; 
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
   
    text {
      background: url('../../imgs/pic-month.png') no-repeat;
      background-size: 100% 15px;
      background-position: bottom;
      padding: 0 5px;
    }
  }

  .calendar {
    margin-bottom: 20px;

    .week {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      .week-number {
        width: 60px; // Adjust as needed
        font-size: 16px;
        font-weight: bold;
        margin-right: 10px;
      }

      .date-grid {
        // display: grid;
        // grid-template-columns: repeat(7, 1fr); // 7 days a week
        // gap: 5px;
        // flex-grow: 1;
        // align-self: flex-start;
        display: flex;
        align-items: start;

        .date-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          font-size: 8px;
          width: 34px;
          height: 40px;
          color: #383838;
          // height: 34px;

          .emoji {
            font-size: 18px; 
            margin-top: 2px;
          }
        }
      }
    }
  }

  .ai-summary {
    width: 350px;
    &-title {
      font-size: 18px; 
      font-weight: bold;
      margin-bottom: 10px;
    }

    &-content {
      font-size: 14px; 

      &-item {
        margin-bottom: 8px;

       
      }
    }
    .icon {
      margin-right: 5px;
    }
  }
} 